.profile__button-edit {
    background-color: #000000;
    max-width: 24px;
    max-height: 24px;
    border: 1px solid #FFFFFF;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: end;
    align-self: start;
    margin-top: 15px;
}

.profile__button-edit:hover {
  opacity: .6;
  transition: opacity .5s;
}

@media screen  and (max-width: 699px) {
    .profile__button-edit {
        margin-right: 25px;
    }
}

@media screen and (max-width: 580px) {
    .profile__button-edit {
        margin-top: 8px;
        height: 18px;
        width: 18px;
        margin-right: 19px;
    }
}
