.profile {
    width: 100%;
    display:grid;
    grid-template-columns: repeat(auto-fit, 120px 336px);
    grid-template-rows: max-content;
    gap: 30px;
    margin: 0 auto;
    padding-top: 40px;
    margin-bottom: 51px;
    border-top: 1px solid rgba(33, 33, 33, .7);
}

@media screen and (max-width: 699px) {
    .profile {
        max-width: 699px;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: max-content min-content;
    }
}

@media screen and (max-width: 580px) {
    .profile {
        max-width: 282px;
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top: 38px;
        margin-bottom: 36px;
    }
}
