.popup__button-close {
  justify-self: flex-end;
  padding: 0;
  border: 0;
  max-height: 32px;
  min-width: 32px;
  border-bottom: 0;
  background: transparent;
}



@media screen and (max-width: 600px) {
  .popup__button-close {
    min-height: 20px;
    min-width: 20px;
    margin-bottom: 16px;
  }
}
