.popup__button-close {
  justify-self: flex-end;
  padding: 0;
  border: 0;
  height: 32px;
  width: 32px;
  border-bottom: 0;
  background: transparent;
  background-image: url(../../../images/CloseIIIIIIIIIIIIcon.svg);
}

@media screen and (max-width: 600px) {
  .popup__button-close {
    min-height: 20px;
    min-width: 20px;
    margin-bottom: 16px;
  }
}
