.popup__button-close {
    padding: 0;
    border: 0;
    width: 32px;
    height: 32px;
    background-image: url(./../../../images/CloseIIIIIIIIIIIIcon.svg);
    background-color: transparent;
    align-self: self-end;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -38px;
    margin-top: -38px;
  }
  .popup__button-close:hover {
    opacity: .8;
    transition: opacity .5s;
  }
  
  @media  screen and (max-width: 600px) {
    .popup__button-close {
        width: 20px;
        height: 20px;
        margin-right: 0;
        margin-top: -35px;
        background-position: center;
        background-size: contain;
    }
  }