.popup__name {
  max-width: 358px;
  width: 100%;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  padding-bottom: 11px;
  border: 0;
  border-bottom: 1px solid rgba(0%, 0%, 0%, .2);
  margin-left: 36px;
}


.popup__name:focus {
  outline: none;
}



@media screen and (max-width: 600px) {
  .popup__name {
    max-width: 238px;
    width: 100%;
    margin-left: 22px;
  }
}

