.profile__icon-edit {
    max-width: 10px;
    max-height: 10px;
    padding-bottom: 2px;
}

@media screen and (max-width: 580px) {
  .profile__icon-edit {
    min-width: 7.5px;
    min-height: 7.5px;
  }
}
